<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{26,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{429,1},{26,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{26,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{463,1},{26,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{181,97},{22,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{215,97},{22,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{367,31},{22,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{401,31},{22,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{435,29},{22,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{265,45},{22,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{299,45},{22,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{333,45},{22,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1cb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{42,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,52}</string>
                <key>textureRect</key>
                <string>{{317,1},{42,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1cs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,26}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{469,57},{22,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{299,45},{22,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{333,45},{22,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2cb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{46,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,52}</string>
                <key>textureRect</key>
                <string>{{217,1},{46,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2cs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{469,29},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{261,69},{22,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{295,69},{22,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3cb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{42,44}</string>
                <key>spriteSourceSize</key>
                <string>{48,52}</string>
                <key>textureRect</key>
                <string>{{217,51},{42,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3cs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{22,24}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{249,103},{22,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{329,69},{22,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{367,55},{22,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4cb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,50}</string>
                <key>spriteSourceSize</key>
                <string>{48,52}</string>
                <key>textureRect</key>
                <string>{{265,1},{42,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4cs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,26}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{469,81},{22,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{401,55},{22,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{435,53},{22,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{363,79},{22,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{397,79},{22,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{273,93},{22,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{297,93},{22,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,94}</string>
                <key>spriteSourceSize</key>
                <string>{16,94}</string>
                <key>textureRect</key>
                <string>{{181,1},{16,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,94}</string>
                <key>spriteSourceSize</key>
                <string>{16,94}</string>
                <key>textureRect</key>
                <string>{{199,1},{16,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{321,93},{22,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{435,77},{22,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{345,105},{22,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{379,105},{22,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{413,105},{22,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{447,105},{22,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,120}</string>
                <key>spriteSourceSize</key>
                <string>{88,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{88,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,120}</string>
                <key>spriteSourceSize</key>
                <string>{88,120}</string>
                <key>textureRect</key>
                <string>{{91,1},{88,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,60}</string>
                <key>spriteSourceSize</key>
                <string>{28,60}</string>
                <key>textureRect</key>
                <string>{{367,1},{28,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cards.png</string>
            <key>size</key>
            <string>{496,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d6f1760a65895bac22547d384a6a544:a70fe8e639b1b4ac0b26f21301c4883f:fc86278e5045194fe7638df41a1aa4f3$</string>
            <key>textureFileName</key>
            <string>cards.png</string>
        </dict>
    </dict>
</plist>
