<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dt_jb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{1373,310},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt_jbui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,31}</string>
                <key>spriteSourceSize</key>
                <string>{147,31}</string>
                <key>textureRect</key>
                <string>{{1283,239},{147,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt_nn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,236}</string>
                <key>spriteSourceSize</key>
                <string>{223,236}</string>
                <key>textureRect</key>
                <string>{{1283,1},{221,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt_sz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,82}</string>
                <key>spriteSourceSize</key>
                <string>{72,82}</string>
                <key>textureRect</key>
                <string>{{1432,239},{72,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt_tx1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{1283,272},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt_tx2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1410,323},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt_wl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,36}</string>
                <key>spriteSourceSize</key>
                <string>{51,36}</string>
                <key>textureRect</key>
                <string>{{1373,272},{51,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dtui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{1505,722}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17339547eebf3d117c12e2e21d4fc972:c17294a7cdeeaac2cb49313c78401a26:693584bbba79ecadf35d6b2cf3a849c9$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
