<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sb_guang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,301}</string>
                <key>spriteSourceSize</key>
                <string>{301,301}</string>
                <key>textureRect</key>
                <string>{{1,1210},{301,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sb_js.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,125}</string>
                <key>spriteSourceSize</key>
                <string>{222,125}</string>
                <key>textureRect</key>
                <string>{{705,561},{222,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sb_sb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,125}</string>
                <key>spriteSourceSize</key>
                <string>{221,125}</string>
                <key>textureRect</key>
                <string>{{705,688},{221,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sb_sb1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{554,101}</string>
                <key>spriteSourceSize</key>
                <string>{556,101}</string>
                <key>textureRect</key>
                <string>{{1,206},{554,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sb_sb2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,511}</string>
                <key>spriteSourceSize</key>
                <string>{121,511}</string>
                <key>textureRect</key>
                <string>{{1,412},{121,511}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sb_sl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,118}</string>
                <key>spriteSourceSize</key>
                <string>{217,118}</string>
                <key>textureRect</key>
                <string>{{703,815},{217,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sb_sl1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{554,101}</string>
                <key>spriteSourceSize</key>
                <string>{556,101}</string>
                <key>textureRect</key>
                <string>{{1,309},{554,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sb_sl2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,511}</string>
                <key>spriteSourceSize</key>
                <string>{121,511}</string>
                <key>textureRect</key>
                <string>{{1,535},{121,511}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sb_sy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,31}</string>
                <key>spriteSourceSize</key>
                <string>{116,31}</string>
                <key>textureRect</key>
                <string>{{304,1472},{116,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sb_ui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,49}</string>
                <key>spriteSourceSize</key>
                <string>{214,49}</string>
                <key>textureRect</key>
                <string>{{702,935},{214,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sb_ui2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{764,23}</string>
                <key>spriteSourceSize</key>
                <string>{766,23}</string>
                <key>textureRect</key>
                <string>{{1,181},{764,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sb_xz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,31}</string>
                <key>spriteSourceSize</key>
                <string>{115,31}</string>
                <key>textureRect</key>
                <string>{{516,1105},{115,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sb_z.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,31}</string>
                <key>spriteSourceSize</key>
                <string>{115,31}</string>
                <key>textureRect</key>
                <string>{{554,1286},{115,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sb_zj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,31}</string>
                <key>spriteSourceSize</key>
                <string>{117,31}</string>
                <key>textureRect</key>
                <string>{{405,1002},{117,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yxn_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,33}</string>
                <key>spriteSourceSize</key>
                <string>{46,33}</string>
                <key>textureRect</key>
                <string>{{405,906},{46,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yxn_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,33}</string>
                <key>spriteSourceSize</key>
                <string>{46,33}</string>
                <key>textureRect</key>
                <string>{{405,954},{46,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yxn_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,33}</string>
                <key>spriteSourceSize</key>
                <string>{50,33}</string>
                <key>textureRect</key>
                <string>{{514,682},{50,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yxn_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,34}</string>
                <key>spriteSourceSize</key>
                <string>{50,34}</string>
                <key>textureRect</key>
                <string>{{711,206},{50,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yxn_c1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,128}</string>
                <key>spriteSourceSize</key>
                <string>{126,128}</string>
                <key>textureRect</key>
                <string>{{702,986},{126,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yxn_c2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,128}</string>
                <key>spriteSourceSize</key>
                <string>{126,128}</string>
                <key>textureRect</key>
                <string>{{559,1030},{126,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yxn_c3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,128}</string>
                <key>spriteSourceSize</key>
                <string>{126,128}</string>
                <key>textureRect</key>
                <string>{{689,1114},{126,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yxn_c4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,128}</string>
                <key>spriteSourceSize</key>
                <string>{126,128}</string>
                <key>textureRect</key>
                <string>{{559,1158},{126,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yxn_c5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,128}</string>
                <key>spriteSourceSize</key>
                <string>{126,128}</string>
                <key>textureRect</key>
                <string>{{502,1319},{126,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yxn_c6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,128}</string>
                <key>spriteSourceSize</key>
                <string>{126,128}</string>
                <key>textureRect</key>
                <string>{{630,1319},{126,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yxn_c77.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,151}</string>
                <key>spriteSourceSize</key>
                <string>{146,151}</string>
                <key>textureRect</key>
                <string>{{552,438},{146,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yxn_cd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,86}</string>
                <key>spriteSourceSize</key>
                <string>{72,86}</string>
                <key>textureRect</key>
                <string>{{440,658},{72,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yxn_dz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,64}</string>
                <key>spriteSourceSize</key>
                <string>{246,64}</string>
                <key>textureRect</key>
                <string>{{370,1210},{246,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yxn_guang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{437,246}</string>
                <key>spriteSourceSize</key>
                <string>{437,246}</string>
                <key>textureRect</key>
                <string>{{1,658},{437,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yxn_jt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,29}</string>
                <key>spriteSourceSize</key>
                <string>{18,29}</string>
                <key>textureRect</key>
                <string>{{711,242},{18,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yxn_ks.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,64}</string>
                <key>spriteSourceSize</key>
                <string>{243,64}</string>
                <key>textureRect</key>
                <string>{{436,1209},{243,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yxn_load.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,73}</string>
                <key>spriteSourceSize</key>
                <string>{73,73}</string>
                <key>textureRect</key>
                <string>{{469,1030},{73,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yxn_load1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{925,178}</string>
                <key>spriteSourceSize</key>
                <string>{925,178}</string>
                <key>textureRect</key>
                <string>{{1,1},{925,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yxn_myxz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,29}</string>
                <key>spriteSourceSize</key>
                <string>{105,29}</string>
                <key>textureRect</key>
                <string>{{819,1142},{105,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yxn_n0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,50}</string>
                <key>spriteSourceSize</key>
                <string>{135,50}</string>
                <key>textureRect</key>
                <string>{{464,1111},{95,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yxn_n1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,50}</string>
                <key>spriteSourceSize</key>
                <string>{135,50}</string>
                <key>textureRect</key>
                <string>{{753,1449},{93,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yxn_n2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,50}</string>
                <key>spriteSourceSize</key>
                <string>{135,50}</string>
                <key>textureRect</key>
                <string>{{848,1239},{93,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yxn_n3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{95,50}</string>
                <key>spriteSourceSize</key>
                <string>{135,50}</string>
                <key>textureRect</key>
                <string>{{832,986},{95,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yxn_n4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,50}</string>
                <key>spriteSourceSize</key>
                <string>{135,50}</string>
                <key>textureRect</key>
                <string>{{758,1334},{93,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yxn_n4z.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,50}</string>
                <key>spriteSourceSize</key>
                <string>{135,50}</string>
                <key>textureRect</key>
                <string>{{810,1334},{93,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yxn_n5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,50}</string>
                <key>spriteSourceSize</key>
                <string>{135,50}</string>
                <key>textureRect</key>
                <string>{{832,1038},{95,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yxn_n5hn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,50}</string>
                <key>spriteSourceSize</key>
                <string>{135,50}</string>
                <key>textureRect</key>
                <string>{{552,678},{135,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yxn_n5xn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,50}</string>
                <key>spriteSourceSize</key>
                <string>{135,50}</string>
                <key>textureRect</key>
                <string>{{422,1458},{135,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yxn_n6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,50}</string>
                <key>spriteSourceSize</key>
                <string>{135,50}</string>
                <key>textureRect</key>
                <string>{{832,1090},{95,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yxn_n7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,50}</string>
                <key>spriteSourceSize</key>
                <string>{135,50}</string>
                <key>textureRect</key>
                <string>{{862,1334},{93,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yxn_n8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,50}</string>
                <key>spriteSourceSize</key>
                <string>{135,50}</string>
                <key>textureRect</key>
                <string>{{502,1222},{95,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yxn_n9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,50}</string>
                <key>spriteSourceSize</key>
                <string>{135,50}</string>
                <key>textureRect</key>
                <string>{{559,1449},{95,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yxn_nn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,50}</string>
                <key>spriteSourceSize</key>
                <string>{135,50}</string>
                <key>textureRect</key>
                <string>{{656,1449},{95,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yxn_nn0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,56}</string>
                <key>spriteSourceSize</key>
                <string>{152,56}</string>
                <key>textureRect</key>
                <string>{{557,206},{152,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yxn_nn1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,56}</string>
                <key>spriteSourceSize</key>
                <string>{152,56}</string>
                <key>textureRect</key>
                <string>{{557,264},{152,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yxn_nn2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,56}</string>
                <key>spriteSourceSize</key>
                <string>{152,56}</string>
                <key>textureRect</key>
                <string>{{557,322},{152,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yxn_nn3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,56}</string>
                <key>spriteSourceSize</key>
                <string>{152,56}</string>
                <key>textureRect</key>
                <string>{{557,380},{152,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yxn_nz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,64}</string>
                <key>spriteSourceSize</key>
                <string>{66,64}</string>
                <key>textureRect</key>
                <string>{{848,1173},{66,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yxn_pm1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{23,23}</string>
                <key>textureRect</key>
                <string>{{819,1173},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yxn_pm2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{23,23}</string>
                <key>textureRect</key>
                <string>{{819,1198},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yxn_pm3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{23,23}</string>
                <key>textureRect</key>
                <string>{{819,1223},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yxn_pmui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,402}</string>
                <key>spriteSourceSize</key>
                <string>{302,402}</string>
                <key>textureRect</key>
                <string>{{1,906},{302,402}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yxn_pmui1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,64}</string>
                <key>spriteSourceSize</key>
                <string>{260,64}</string>
                <key>textureRect</key>
                <string>{{440,832},{260,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yxn_pmui2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,64}</string>
                <key>spriteSourceSize</key>
                <string>{260,64}</string>
                <key>textureRect</key>
                <string>{{440,898},{260,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yxn_pmui3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,64}</string>
                <key>spriteSourceSize</key>
                <string>{260,64}</string>
                <key>textureRect</key>
                <string>{{440,964},{260,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yxn_pmui4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,64}</string>
                <key>spriteSourceSize</key>
                <string>{260,64}</string>
                <key>textureRect</key>
                <string>{{304,1210},{260,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yxn_qd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,44}</string>
                <key>spriteSourceSize</key>
                <string>{143,44}</string>
                <key>textureRect</key>
                <string>{{552,586},{143,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yxn_rs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,57}</string>
                <key>spriteSourceSize</key>
                <string>{86,57}</string>
                <key>textureRect</key>
                <string>{{405,1121},{86,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yxn_shu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{689,678},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yxn_sq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,44}</string>
                <key>spriteSourceSize</key>
                <string>{143,44}</string>
                <key>textureRect</key>
                <string>{{552,632},{143,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yxn_stui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,84}</string>
                <key>spriteSourceSize</key>
                <string>{261,84}</string>
                <key>textureRect</key>
                <string>{{440,746},{261,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yxn_stui2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,79}</string>
                <key>spriteSourceSize</key>
                <string>{29,79}</string>
                <key>textureRect</key>
                <string>{{438,1030},{29,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yxn_syan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,69}</string>
                <key>spriteSourceSize</key>
                <string>{68,69}</string>
                <key>textureRect</key>
                <string>{{703,1242},{68,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yxn_xiafen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,36}</string>
                <key>spriteSourceSize</key>
                <string>{133,36}</string>
                <key>textureRect</key>
                <string>{{514,412},{133,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yxn_xt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,154}</string>
                <key>spriteSourceSize</key>
                <string>{79,154}</string>
                <key>textureRect</key>
                <string>{{767,181},{79,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yxn_xt2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{671,1286},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yxn_xz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,297}</string>
                <key>spriteSourceSize</key>
                <string>{216,297}</string>
                <key>textureRect</key>
                <string>{{711,262},{216,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yxn_yin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,17}</string>
                <key>spriteSourceSize</key>
                <string>{21,17}</string>
                <key>textureRect</key>
                <string>{{742,242},{21,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yxn_zjxiafen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,36}</string>
                <key>spriteSourceSize</key>
                <string>{133,36}</string>
                <key>textureRect</key>
                <string>{{514,547},{133,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>niuniuGame.png</string>
            <key>size</key>
            <string>{928,1512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:365daffed30c61355538fa2279181504:5ade76df35ef9ac902c294d030d6cc4a:ddac2188f999be86e245085e075768ca$</string>
            <key>textureFileName</key>
            <string>niuniuGame.png</string>
        </dict>
    </dict>
</plist>
