<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,42}</string>
                <key>spriteSourceSize</key>
                <string>{167,42}</string>
                <key>textureRect</key>
                <string>{{326,920},{167,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jl1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,57}</string>
                <key>spriteSourceSize</key>
                <string>{120,57}</string>
                <key>textureRect</key>
                <string>{{208,840},{120,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lv2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,57}</string>
                <key>spriteSourceSize</key>
                <string>{112,57}</string>
                <key>textureRect</key>
                <string>{{267,840},{112,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nn_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{394,168}</string>
                <key>spriteSourceSize</key>
                <string>{394,168}</string>
                <key>textureRect</key>
                <string>{{386,648},{394,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nn_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{394,168}</string>
                <key>spriteSourceSize</key>
                <string>{394,168}</string>
                <key>textureRect</key>
                <string>{{782,648},{394,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nn_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{394,168}</string>
                <key>spriteSourceSize</key>
                <string>{394,168}</string>
                <key>textureRect</key>
                <string>{{1178,628},{394,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nn_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{394,168}</string>
                <key>spriteSourceSize</key>
                <string>{394,168}</string>
                <key>textureRect</key>
                <string>{{1178,798},{394,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nn_bz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,82}</string>
                <key>spriteSourceSize</key>
                <string>{72,82}</string>
                <key>textureRect</key>
                <string>{{326,836},{72,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nn_fh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,81}</string>
                <key>spriteSourceSize</key>
                <string>{72,81}</string>
                <key>textureRect</key>
                <string>{{474,818},{72,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nn_jl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,82}</string>
                <key>spriteSourceSize</key>
                <string>{72,82}</string>
                <key>textureRect</key>
                <string>{{400,818},{72,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nn_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-32}</string>
                <key>spriteSize</key>
                <string>{622,625}</string>
                <key>spriteSourceSize</key>
                <string>{634,689}</string>
                <key>textureRect</key>
                <string>{{1030,1},{622,625}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nn_ui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,58}</string>
                <key>spriteSourceSize</key>
                <string>{186,58}</string>
                <key>textureRect</key>
                <string>{{326,648},{186,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tongyong_guanbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,73}</string>
                <key>spriteSourceSize</key>
                <string>{72,73}</string>
                <key>textureRect</key>
                <string>{{548,818},{72,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,205}</string>
                <key>spriteSourceSize</key>
                <string>{284,205}</string>
                <key>textureRect</key>
                <string>{{1,648},{284,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1027,645}</string>
                <key>spriteSourceSize</key>
                <string>{1027,645}</string>
                <key>textureRect</key>
                <string>{{1,1},{1027,645}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,42}</string>
                <key>spriteSourceSize</key>
                <string>{164,42}</string>
                <key>textureRect</key>
                <string>{{495,901},{164,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wf1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,57}</string>
                <key>spriteSourceSize</key>
                <string>{190,57}</string>
                <key>textureRect</key>
                <string>{{208,648},{190,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wf2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,57}</string>
                <key>spriteSourceSize</key>
                <string>{190,57}</string>
                <key>textureRect</key>
                <string>{{267,648},{190,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>niuniuSelect.png</string>
            <key>size</key>
            <string>{1653,967}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e74be8511f6c92f84743f370b29822e5:f679c21b91847b7593a110c3229974b1:b7bf7c08b8cceb78a16943fab97b5b66$</string>
            <key>textureFileName</key>
            <string>niuniuSelect.png</string>
        </dict>
    </dict>
</plist>
