<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gd_bz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,43}</string>
                <key>spriteSourceSize</key>
                <string>{33,43}</string>
                <key>textureRect</key>
                <string>{{1099,387},{33,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gd_px.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,48}</string>
                <key>spriteSourceSize</key>
                <string>{38,48}</string>
                <key>textureRect</key>
                <string>{{1,400},{38,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gd_sz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{243,397},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gd_tc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,47}</string>
                <key>spriteSourceSize</key>
                <string>{40,47}</string>
                <key>textureRect</key>
                <string>{{51,400},{40,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gd_ui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,340}</string>
                <key>spriteSourceSize</key>
                <string>{260,340}</string>
                <key>textureRect</key>
                <string>{{1134,1},{260,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gd_ui2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,1}</string>
                <key>spriteSourceSize</key>
                <string>{240,1}</string>
                <key>textureRect</key>
                <string>{{1,397},{240,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>px.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,41}</string>
                <key>spriteSourceSize</key>
                <string>{83,41}</string>
                <key>textureRect</key>
                <string>{{1056,387},{83,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>px1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,26}</string>
                <key>spriteSourceSize</key>
                <string>{42,26}</string>
                <key>textureRect</key>
                <string>{{1099,432},{42,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>px2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,26}</string>
                <key>spriteSourceSize</key>
                <string>{44,26}</string>
                <key>textureRect</key>
                <string>{{1303,461},{44,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>px3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,26}</string>
                <key>spriteSourceSize</key>
                <string>{44,26}</string>
                <key>textureRect</key>
                <string>{{1349,461},{44,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>px_ui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{394,565}</string>
                <key>spriteSourceSize</key>
                <string>{394,565}</string>
                <key>textureRect</key>
                <string>{{1,1},{394,565}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>px_ui2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,69}</string>
                <key>spriteSourceSize</key>
                <string>{314,69}</string>
                <key>textureRect</key>
                <string>{{568,392},{314,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,41}</string>
                <key>spriteSourceSize</key>
                <string>{82,41}</string>
                <key>textureRect</key>
                <string>{{974,392},{82,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sz_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{884,392},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sz_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,39}</string>
                <key>spriteSourceSize</key>
                <string>{116,39}</string>
                <key>textureRect</key>
                <string>{{1303,343},{116,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sz_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,39}</string>
                <key>spriteSourceSize</key>
                <string>{116,39}</string>
                <key>textureRect</key>
                <string>{{1344,343},{116,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sz_ui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{564,384}</string>
                <key>spriteSourceSize</key>
                <string>{564,384}</string>
                <key>textureRect</key>
                <string>{{568,1},{564,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sz_ui2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,147}</string>
                <key>spriteSourceSize</key>
                <string>{167,147}</string>
                <key>textureRect</key>
                <string>{{1134,343},{167,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sz_ui3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,3}</string>
                <key>spriteSourceSize</key>
                <string>{486,3}</string>
                <key>textureRect</key>
                <string>{{568,387},{486,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>setting.png</string>
            <key>size</key>
            <string>{1395,491}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:727e7a2fe231c895c00a4f2bf37d2be9:507574ac96e1c4e9f49cf2ca45383653:b9c870dc099f34bca3e3b2447514f602$</string>
            <key>textureFileName</key>
            <string>setting.png</string>
        </dict>
    </dict>
</plist>
